# Basic usage example of gmapy

This notebook demonstrates the basic usage of the `gmapy` package for an evaluation.

Being in the `examples/` directory, we add the parent directory so that `gmapy` can be found.

In [1]:
import sys
sys.path.append('..')

First, we load the GMADatabase class:

In [2]:
from gmapy.gma_database_class import GMADatabase

Then we instantiate this class with a GMA database file:

In [3]:
gmadb = GMADatabase('../legacy-tests/test_002/input/data.gma')

Warning: EPAF[2,10] is zero for dataset 8050 (MT: 1, .Hambsch ND2016, P.Salvador-Casti~neira,F.-J). You may want to check the uncertainty specifications of this datasset.

/home/gschnabel/anaconda3/envs/testenv/lib/python3.9/site-packages/gmapy/data_management/specialized_uncertainty_funs/legacy_uncertainty_funs.py:105: RuntimeWarning: divide by zero encountered in double_scalars
  XYY = EPAF[1,L] - (E[KS]-E[KT])/(EPAF[2,L]*E[KS])

Warning: EPAF[2,10] is zero for dataset 8011 (MT: 4, m NSE,163,1(2009), F.-J.Hambsch et al.FP=28.24). You may want to check the uncertainty specifications of this datasset.
Warning: EPAF[2,10] is zero for dataset 8010 (MT: 4, m NSE,163,1(2009), F.-J.Hambsch et al.FP=57.41). You may want to check the uncertainty specifications of this datasset.
Warning: EPAF[2,10] is zero for dataset 8008 (MT: 1, NSE,156,197(2007), R.Nolte et al.). You may want to check the uncertainty specifications of this datasset.
Warning: EPAF[2,10] is zero for dataset 8007 (MT: 3, NSE,156,197(2007), R.Nolte et al.). You may want to check the uncertainty specifications of this datasset.

If we want to learn more about the available experimental data, we can extract a pandas datatable with the computational mesh, experimental data and auxiliary variables, such as normalization errors. ALl variables associated with the computational mesh being with `xsid_` or `fis` in the `NODE` column and all variables with experimental data with `exp_`. The rows beginning with `norm_` are the normalization factors for shape data.

In [4]:
dt = gmadb.get_datatable()
dt

,NODE,REAC,ENERGY,PRIOR,UNC,DESCR,DATA,DB_IDX,DS_IDX
0,xsid_1,MT:1-R1:1,2.530000e-08,938.100000,inf,"6Li(n,a)",NaN,NaN,NaN
1,xsid_1,MT:1-R1:1,9.400000e-06,48.640000,inf,"6Li(n,a)",NaN,NaN,NaN
2,xsid_1,MT:1-R1:1,1.500000e-04,12.160000,inf,"6Li(n,a)",NaN,NaN,NaN
3,xsid_1,MT:1-R1:1,2.500000e-04,9.413000,inf,"6Li(n,a)",NaN,NaN,NaN
4,xsid_1,MT:1-R1:1,3.500000e-04,7.954000,inf,"6Li(n,a)",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7663,norm_1023,NA,0.000000e+00,0.981396,inf,NaN,NaN,NaN,NaN
7664,norm_1024,NA,0.000000e+00,0.958235,inf,NaN,NaN,NaN,NaN
7665,norm_1028,NA,0.000000e+00,0.987727,inf,NaN,NaN,NaN,NaN
7666,norm_1033,NA,0.000000e+00,0.983214,inf,NaN,NaN,NaN,NaN
7667,norm_1034,NA,0.000000e+00,0.961862,inf,NaN,NaN,NaN,NaN

It is also possible to retrieve the associated covariance matrix:

In [5]:
covmat = gmadb.get_covmat()
covmat

<7668x7668 sparse matrix of type '<class 'numpy.float64'>'
	with 505737 stored elements in Compressed Sparse Row format>

An evaluation can be performed by

In [6]:
gmadb.evaluate(correct_ppp=True, atol=1e-3, rtol=1e-3)

array([938.13073063,  48.63967287,  12.16076833, ...,   0.99110521,
         0.98454796,   0.93844965])

The specification `correct_ppp=True` enables the PPP correction and `atol=1e-3` and `rtol=1e-3` indicate the desired convergence in absolute and relative terms. We can inspect the evaluated values by executing

In [7]:
dt = gmadb.get_datatable()
dt

,NODE,REAC,ENERGY,PRIOR,UNC,DESCR,DATA,DB_IDX,DS_IDX,POST,POSTUNC
0,xsid_1,MT:1-R1:1,2.530000e-08,938.100000,inf,"6Li(n,a)",NaN,NaN,NaN,938.130731,0.544447
1,xsid_1,MT:1-R1:1,9.400000e-06,48.640000,inf,"6Li(n,a)",NaN,NaN,NaN,48.639673,0.028208
2,xsid_1,MT:1-R1:1,1.500000e-04,12.160000,inf,"6Li(n,a)",NaN,NaN,NaN,12.160768,0.004039
3,xsid_1,MT:1-R1:1,2.500000e-04,9.413000,inf,"6Li(n,a)",NaN,NaN,NaN,9.413051,0.003676
4,xsid_1,MT:1-R1:1,3.500000e-04,7.954000,inf,"6Li(n,a)",NaN,NaN,NaN,7.951946,0.003027
...,...,...,...,...,...,...,...,...,...,...,...
7663,norm_1023,NA,0.000000e+00,0.981396,inf,NaN,NaN,NaN,NaN,0.988128,0.006672
7664,norm_1024,NA,0.000000e+00,0.958235,inf,NaN,NaN,NaN,NaN,0.967352,0.007553
7665,norm_1028,NA,0.000000e+00,0.987727,inf,NaN,NaN,NaN,NaN,0.991105,0.007780
7666,norm_1033,NA,0.000000e+00,0.983214,inf,NaN,NaN,NaN,NaN,0.984548,0.010343
7667,norm_1034,NA,0.000000e+00,0.961862,inf,NaN,NaN,NaN,NaN,0.938450,0.007843

As can be seen, two columns `POST` and `POSTUNC` are added with the posterior estimates and uncertainties corresponding to the observable in the row.